version: '3'

services:
  jekyll:
    image: jekyll/jekyll:latest
    container_name: sourisray-jekyll
    environment:
      - JEKYLL_ENV=development
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - .:/srv/jekyll
    command: jekyll serve --force_polling --livereload
